.wrapper {
    font-family: "Aleo";
    text-align: center;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

header {
    font-size: 30px;
    font-weight: bolder;
    text-align: left;
}

.section-top {
    background-color: #ffffff;
}

h1 {
    margin: 0;
    font-size: 50px;
}

h2 {
    font-size: 33px;
    border-bottom: 1px solid #e2e2e2;
    padding: 5px 10px 25px 10px;
}

.consultation {
    margin: 0;
    font-size: 27px;
    font-weight: bold;
}

.mobile {
    color: #ffffff;
}

.img-top {
    width: 100%;
}

.orange-box {
    padding: 15px;
    text-align: left;
    background-color: #f0911a;
}

.section-middle {
    background-color: #ffffff;
}

.card {
    background-color: #ffffff;
    border-bottom: 1px solid #e2e2e2;
    margin: 20px;
}

.section-bottom {
    background-color: #eaeaea;
    padding: 10px;
	display: flex;
	flex-direction: row;
    justify-content: space-between;
    text-align: left;
}

span {
    font-size: 16px;
    font-weight: bold;
}

.footer-left {
    display: flex;
    flex-direction: column;
}

.footer-right {
    display: flex;
    flex-direction: column;
}